body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 718px;
  background: #fff;
  justify-content: flex-start;
  margin: 0;
}

button {
  cursor: pointer;
}

.navbar {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
}

.desktop-menu {
  display: none;
}

.my-logo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  display: flex;
  align-items: center;
  text-align: flex;
  text-decoration: none;
}

.menu {
  margin-left: auto;
  margin-right: 15px;
}

.menu-button {
  background-color: #6070ff;
  border: white;
  border-radius: 2px;
  width: 16px;
  height: 2px;
  margin: 3px;
}

.logo-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  height: 40px;
}

.headline {
  background: url(images/header-shapes-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -10px 50px;
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  width: 100%;
  height: 604px;
  align-items: flex-start;
  padding-right: 0;
  padding-left: 0;
}

.primary-text {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  flex-grow: 0;
  margin-top: 25px;
  margin-bottom: 0;
}

.secondary-text {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  margin-top: 0;
}

.supportive-text {
  width: 140px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  flex-grow: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.works {
  display: grid;
  row-gap: 109px;
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 5;
  height: 2788px;
  width: 100%;
  padding: 114px, 24px, 114px, 24px;
  top: 718px;
}

.card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.snapshot-portfolio0 {
  background: url(images/SnapshootPortfolio.png);
  width: 295px;
  height: 220px;
  border-radius: 8px;
  display: block;
}

.snapshot-portfolio1 {
  background: url(images/SnapshootPortfolio2.png);
  width: 295px;
  height: 220px;
  border-radius: 8px;
  display: block;
}

.snapshot-portfolio2 {
  background: url(images/SnapshootPortfolio3.png);
  width: 295px;
  height: 220px;
  border-radius: 8px;
  display: block;
}

.snapshot-portfolio3 {
  background: url(images/SnapshootPortfolio4.png);
  width: 295px;
  height: 220px;
  border-radius: 8px;
  display: block;
}

.project-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 80px;
}

.mini-title {
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 0;
  margin-top: 0;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.description {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 0;
  margin-bottom: 0;
}

.lenguajes {
  display: flex;
  width: 300px;
  gap: 40px;
}

.mini-container0 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px, 12px, 4px, 12px;
  justify-content: center;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.mini-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px, 12px, 4px, 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.mini-container2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 4px, 12px, 4px, 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.tag {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.project-button-container {
  width: 295px;
  height: 72px;
  display: flex;
  align-items: flex-end;
}

.action-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  left: 0;
  top: calc(50% - 48px / 2);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #6070ff;
  color: #396df2;
  transition: all 0.5s;
  text-decoration: none;
}

.action-button:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  left: 0;
  top: calc(50% - 48px / 2);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #6070ff;
  color: #fff;
}

.action-button:active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  left: 0;
  top: calc(50% - 48px / 2);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #2230d2;
  color: #fff;
}

.action-button:disabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

.year {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  width: 29px;
  height: 16px;
  color: #7a869a;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  width: 55px;
  height: 16px;
  color: #344563;
}

.back-end-dev {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  width: 88px;
  height: 16px;
  color: #7a869a;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: 200px;
  height: 40px;
}

.about-me-container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1263px;
  top: 4769px;
  background: #fff;
}

.first-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 327px;
  height: 409px;
}

.about-me {
  width: 327px;
  height: 101px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-bottom: 0;
}

.description2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 0;
}

.connect-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 200px;
  height: 80px;
}

.text-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 117px;
  height: 24px;
}

.supporting-text2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.action-button2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 170px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  transition: all 0.5s;
}

.action-button2:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 170px;
  height: 48px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #6070ff;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.action-button2:active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 170px;
  height: 48px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  line-height: 24px;
  background: #2230d2;
  letter-spacing: 0.03em;
  color: #fff;
}

.action-button2:disabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 170px;
  height: 48px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

.skill-list {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 464.15px;
}

.languaje-container {
  width: 327px;
  height: 72px;
  display: flex;
  align-items: center;
}

.languaje-text {
  margin-left: 20px;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.down-arrow {
  width: 24px;
  height: 24px;
  margin-left: 145px;
}

.javascript {
  width: 303px;
  height: 66.72px;
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
}

.javascript-icon {
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2 - 0.36px);
  margin-left: 20px;
}

.javascript-text {
  margin-left: 15px;
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px / 2 - 0.36px);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.html {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  display: flex;
}

.html-icon {
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2 - 0.36px);
  margin-left: 20px;
}

.html-text {
  margin-left: 15px;
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px / 2 - 0.36px);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.css {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  display: flex;
}

.css-icon {
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2 - 0.36px);
  margin-left: 20px;
}

.css-text {
  margin-left: 15px;
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px / 2 - 0.36px);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.frameworks-container {
  width: 327px;
  height: 72px;
  display: flex;
  align-items: center;
}

.frameworks-text {
  margin-left: 20px;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.right-arrow {
  width: 24px;
  height: 24px;
  margin-left: 145px;
}

.skills-container {
  width: 327px;
  height: 72px;
  display: flex;
  align-items: center;
}

.skills-text {
  margin-left: 20px;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.right-arrow2 {
  width: 24px;
  height: 24px;
  margin-left: 215px;
}

.contact-me-container {
  background: url(images/contact-form-shapes-mobile1x.png), url(images/contact-me.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: right;
  width: 100%;
  height: 779px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.contact-me-title {
  width: auto;
  height: 56px;
  top: 4734px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
  margin-top: 100px;
}

.contact-me-description {
  display: flex;
  width: 327px;
  height: 102px;
  left: 24px;
  top: 4802px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-left: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 50px;
  gap: 20px;
}

#name {
  height: 48px;
  width: 300px;
  left: 24px;
  top: 4991px;
  border-radius: 10px;
  border-style: hidden;
}

#mail {
  border-style: hidden;
  height: 48px;
  width: 300px;
  left: 24px;
  top: 5059px;
  border-radius: 10px;
}

#msg {
  height: 170px;
  width: 300px;
  left: 24px;
  top: 5125px;
  border-radius: 10px;
}

.action-button3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 140px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  border: #6070ff;
  transition: all 0.5s;
}

.action-button3:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 140px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #6070ff;
  color: #fff;
  outline: 1px solid #fff;
}

.action-button3:active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 140px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #2230d2;
  color: #fff;
}

.action-button3:disabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 140px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background: #e5e5e5;
    width: 100%;
    margin: 0;
  }

  header {
    background: url(images/header-background-shape-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 916px;
  }

  .headline {
    background: url(images/header-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 100px;
    width: 100%;
    height: 846px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .navbar {
    position: fixed;
    width: 100%;
    height: 72px;
  }

  .logo-placeholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 143px;
    top: calc(50% - 40px / 2);
  }

  .my-logo {
    width: 76px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    text-decoration: none;
  }

  .menu {
    display: none;
  }

  .primary-text {
    width: 800px;
    height: 122px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    margin-right: 120px;
  }

  .secondary-text {
    width: 920px;
    height: 98px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .supportive-text {
    width: 117px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-right: 800px;
  }

  .icons {
    margin-right: 720px;
  }

  .desktop-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 259px;
    height: 40px;
    left: 1039px;
    top: 16px;
    cursor: pointer;
  }

  .portfolio {
    width: 63px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .about {
    width: 46px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .contact {
    width: 62px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .works {
    width: 100%;
    gap: 142px;
    height: 2694px;
    top: 917px;
    padding-top: 150px;
  }

  .card {
    flex-direction: row;
    align-items: flex-start;
    width: 1156px;
    height: 496px;
  }

  .description {
    width: 496px;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .card1 {
    flex-direction: row-reverse;
  }

  .card3 {
    flex-direction: row-reverse;
  }

  .snapshot-portfolio0 {
    background: url(images/SnapshootPortfolioDesktop.png);
    width: 544px;
    height: 448px;
    left: 24px;
    top: 24px;
  }

  .block0 {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    width: 544px;
    height: 445px;
    left: 590px;
    top: 24px;
  }

  .snapshot-portfolio1 {
    background: url(images/SnapshootPortfolioDesktop2.png);
    width: 544px;
    height: 448px;
    left: 590px;
    top: 24px;
    margin-left: auto;
  }

  .block1 {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    width: 544px;
    height: 445px;
    left: 590px;
    top: 24px;
  }

  .snapshot-portfolio2 {
    background: url(images/SnapshootPortfolioDesktop3.png);
    width: 544px;
    height: 448px;
    left: 24px;
    top: 24px;
  }

  .snapshot-portfolio3 {
    background: url(images/SnapshootPortfolioDesktop4.png);
    width: 544px;
    height: 448px;
    left: 590px;
    top: 24px;
    margin-left: auto;
  }

  .block2 {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    width: 544px;
    height: 445px;
    left: 590px;
    top: 24px;
  }

  .block3 {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    width: 544px;
    height: 445px;
    left: 590px;
    top: 24px;
  }

  .down-arrow {
    margin-left: 400px;
  }

  .right-arrow {
    margin-left: 400px;
  }

  .right-arrow2 {
    margin-left: 475px;
  }

  .skill-list {
    margin-right: 150px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 684px;
    height: 360px;
    left: 614px;
    top: 3753px;
    margin-left: 90px;
  }

  .javascript {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .html {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .css {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .languajes-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
    gap: 12px;
    width: 414px;
    height: 144px;
  }

  .about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 924px;
    top: 4535px;
    padding-right: 0;
    margin-top: 150px;
  }

  .first-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: 392px;
    top: 3753px;
  }

  .description2 {
    width: 447px;
    height: 102px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .contact-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(images/contact-form-background-shapes1x.png), url(images/contact-form-background.png);
    background-size: contain, cover;
    width: 100%;
    height: 846px;
    top: 5125px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    padding-right: 0;
  }

  .contact-me-title {
    display: flex;
    width: 801px;
    height: 56px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    justify-content: center;
    margin-right: 50px;
  }

  .contact-me-description {
    width: 569px;
    height: 102px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 27px;
    width: 447px;
    height: 395px;
  }

  #name {
    width: 447px;
    height: 48px;
    border-radius: 0;
  }

  #mail {
    width: 447px;
    height: 48px;
    border-radius: 0;
  }

  #msg {
    width: 447px;
    height: 170px;
    border-radius: 0;
  }
}

.menu-attributes {
  position: absolute;
  background-color: rgba(96, 112, 255, 0.8);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.xicon {
  width: 14px;
  height: 14px;
  margin-top: 25px;
  margin-left: 300px;
}

.menu-text-style {
  height: 24px;
  top: calc(50% - 24px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  margin-left: 50px;
}

.popup-background {
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  position: fixed;
  width: 300px;
  height: 490px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 50px;
}

.popup-primary-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.popupFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
  width: 100%;
  justify-content: space-between;
}

.image-popup0 {
  height: 100px;
  width: 100%;
}

.image-popup1 {
  height: 100px;
  width: 100%;
}

.image-popup2 {
  height: 100px;
  width: 100%;
}

.image-popup3 {
  height: 100px;
  width: 100%;
}

.popup-title {
  margin-top: 0;
  margin-bottom: 0;
}

.popup-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 11px;
  color: #344563;
  width: 275px;
}

.popup-buttons {
  width: 275px;
  height: 56px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.popupbutton {
  font-size: 13px;
}

.popupbutton:hover {
  font-size: 13px;
}

.popupbutton:active {
  font-size: 13px;
}

@media only screen and (min-width: 768px) {
  .popup-background {
    position: fixed;
    width: 1156px;
    height: 100vh;
    background: #fff;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 16px;
    margin-top: 40px;
  }

  .popup-primary-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
    height: 84px;
  }

  .popupFrame {
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .popup-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .image-popup0 {
    content: url(./images/SnapshootPortfolioDesktop.png);
    width: 100%;
    height: 600px;
  }

  .image-popup1 {
    content: url(./images/SnapshootPortfolioDesktop2.png);
    width: 100%;
    height: 600px;
  }

  .image-popup2 {
    content: url(./images/SnapshootPortfolioDesktop3.png);
    width: 100%;
    height: 600px;
  }

  .image-popup3 {
    content: url(./images/SnapshootPortfolioDesktop4.png);
    width: 100%;
    height: 600px;
  }

  .popup-mini-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  .popup-description {
    display: flex;
    width: 778px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .popup-left-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 306px;
    height: 157px;
    padding-top: 20px;
  }
}
