body {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 718px;
  background: #fff;
  justify-content: flex-start;
}

header {
  position: absolute;
  width: 375px;
  height: 48px;
  display: flex;
  align-items: center;
}

.my-logo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu {
  height: 15px;
  width: 15px;
  left: 311px;
  top: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 24px;
  margin-left: auto;
}

.menu-button {
  background-color: #6070ff;
  border: white;
  border-radius: 2px;
  width: 16px;
}

.logo-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 100px;
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  gap: 12px;
  width: 375px;
  height: 604px;
  left: calc(50% - 375px / 2);
  top: 92px;
}

.rectangle-6 {
  position: absolute;
  width: 51.99px;
  height: 9.3px;
  left: -34px;
  top: 97.49px;
  background: #ebebff;
  transform: rotate(-46.14deg);
}

.ellipse-11 {
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  left: -16.04px;
  top: 117.47px;
  background: #6070ff;
  transform: rotate(-156.88deg);
}

.ellipse-8 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 214px;
  top: 66px;
  background: #fff;
  box-sizing: border-box;
}

.rectangle-4 {
  position: absolute;
  width: 95.58px;
  height: 22.02px;
  left: 294px;
  top: 121.79px;
  background: #ebebff;
  transform: rotate(-30deg);
}

.ellipse-3 {
  position: absolute;
  left: 323px;
  top: 134.24px;
}

.rectangle-7 {
  position: absolute;
  width: 26.46px;
  height: 4.73px;
  left: 127.18px;
  top: 107.59px;
  background: #6070ff;
  transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
}

.ellipse-5 {
  position: absolute;
  width: 11px;
  height: 10px;
  left: 132.98px;
  top: 111.81px;
  transform: rotate(52.97deg);
}

.primary-text {
  width: 327px;
  height: 150px;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 75px;
}

.secondary-text {
  width: 327px;
  height: 146px;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.supportive-text {
  width: 140px;
  height: 24px;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.twitter-icon {
  position: absolute;
  left: 6.4%;
  right: 88.27%;
  top: 77.81%;
  bottom: 18.88%;
}

.linkedin-icon {
  position: absolute;
  left: 16.4%;
  right: 78.27%;
  top: 77.81%;
  bottom: 18.88%;
}

.multitrabajos-icon {
  position: absolute;
  left: 27.47%;
  right: 67.2%;
  top: 78.15%;
  bottom: 19.21%;
}

.github-icon {
  position: absolute;
  left: 38.13%;
  right: 57.07%;
  top: 77.81%;
  bottom: 18.87%;
}

.two-fingers-icon {
  position: absolute;
  left: 48%;
  right: 48.22%;
  top: 77.81%;
  bottom: 18.87%;
}

.ellipse-15 {
  box-sizing: border-box;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 53px;
  top: 601px;
}

.rectangle-5 {
  position: absolute;
  width: 68.06px;
  height: 45.18px;
  left: 191.82px;
  top: 609px;
}

.ellipse-4 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 237px;
  top: 613.1px;
}

.ellipse-12 {
  position: absolute;
  width: 24.14px;
  height: 12.07px;
  left: 341.76px;
  top: 486.69px;
}

.ellipse-13 {
  position: absolute;
  width: 30.1px;
  height: 30.1px;
  left: 332.18px;
  top: 496.44px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.works {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 5;
  height: 2788px;
  width: 375px;
  left: 0px;
  padding: 114px, 24px, 114px, 24px;
  top: 718px;
}

.card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
}

.project-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 295px;
  height: 80px;
}

.mini-title {
  width: 295px;
  height: 36px;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
  margin-bottom: 0;
  margin-top: 0;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.description {
  width: 295px;
  height: 76px;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 0;
  margin-bottom: 0;
}

.lenguajes{
  display: flex;
  width: 300px;
  gap:40px;
}

.mini-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px, 12px, 4px, 12px;
  justify-content: center;
  width: 53px;
  height: 24px;
  background: #EBEBFF;
  border-radius: 8px;
}

.mini-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px, 12px, 4px, 12px;
  width: 45px;
  height: 24px;
  background: #EBEBFF;
  border-radius: 8px;
}

.mini-container3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 4px, 12px, 4px, 12px;
  width: 89px;
  height: 24px;
  background: #EBEBFF;
  border-radius: 8px;
}
.tag {
  width: 29px;
  height: 16px;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070FF;
}

.project-button-container {
  width: 295px;
  height: 72px;
}

.action-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 0px;
  top: calc(50% - 48px/2);
  border-radius: 8px;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #6070FF;
  color: #396DF2;
}

.action-button:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 0px;
  top: calc(50% - 48px/2);
  border-radius: 8px;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #6070FF;
  color: #FFFFFF;
}

.action-button:active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 0px;
  top: calc(50% - 48px/2);
  border-radius: 8px;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #2230D2;
  color: #FFFFFF;
}

.action-button:disabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 0px;
  top: calc(50% - 48px/2);
  border-radius: 8px;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #5E6C84;
  border: 1px solid #C1C7D0;
}

.canopy .back-end-dev .year2015 {
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.canopy {
  width: 55px;
  height: 16px;
  color: #344563;
}

.back-end-dev {
  width: 88px;
  height: 16px;
  color: #7A869A;
}

.year2015 {
  width: 29px;
  height: 16px;
  color: #7A869A;
}

