body {
  margin: 0;
  background: rgba(247, 247, 249, 1);
}

/* Estilos para pantallas pequeñas */

@media (max-width: 767px) {
  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }

  #logo {
    width: 100px;
  }
}

/* Estilos para pantallas medianas y grandes */

@media (min-width: 768px) {

}